* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica';
    background-color: #F2F2F2;
}

#heading {
    text-align: center;
    padding: 40px;
    font-size: 50px;
}

#ip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    background-color: #BBBBBB;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}
